*{
  font-family: 'Poppins', sans-serif;
}
body {
    background-image: url('../imagens/background4.jpg'); /* caminho real da imagem */
    background-size: cover; /* Isso faz com que a imagem cubra todo o fundo */
    background-position: center; /* Isso centraliza a imagem */
    color: #ffffff; /* Defina a cor do texto para um contraste adequado com o fundo */
}

.titulo-servico {
  font-size: 24px;
  margin: 10px;
  font-weight: 600;
}
.texto-servico {
  margin: 10px;
  font-size: 12px;
}
.nav-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  /*height: 56px;*/
  padding: 10px;
}
.nav-header-lateral{
  display: flex;
  flex-wrap: nowrap;
  width: 40%;
  margin: 0 20px;
  gap: 1rem;
  align-items: center;
}
.nav-header-logo{
  width: 20%;
  display: flex;
  justify-content: center;
}
.nav-header-lateral.second{
  justify-content: flex-end;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
}

.navbar-logo {
  flex: 1;
  text-align: center;
}

.navbar-search {
  flex: 2;
  display: flex;
  align-items: center;
}

.navbar-search input {
  padding: 8px;
  width: 200px;
}

.navbar-links a {
  margin-left: 15px;
  text-decoration: none;
}

#logo img{
  width: 170px;
}

#pesquisa{
  
  color: white;
}

#menu{
  left: 50px;
}

#menu a{
  color: #ddd;
  padding-left: 20px;
}
#pesquisa input{
  border-radius: 20px;
  background-color: black;
  border: 1px solid #535353;
  padding: 0 10px;
}

#pesquisa input:active {
  border: 1px solid rgb(88, 88, 88);
}
.input-container input::placeholder {
  text-align: center; 
}

.carousel-description{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  top: 45%;
  left: 15%;
}
.btn{
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.carousel-content {
  display: flex;
  justify-content: center;
}
#apresentacao{
  width: 90%;
}
.rounded-sm {
  border-radius: 15px;
}

.dropdown-menu{
  background-color: black;
}
.dropdown-item {
  color: rgb(196, 196, 196);
}
.dropdown-item:hover {
  background-color: rgb(32, 32, 32);
  color: white;
}

.opcoes{
  margin-left: 90px;
  margin-top: 20px;
}

/* Formatação das opções */
.card .btn-servico{
	background-color: #777;
	border-radius: 8px;
	color: #eeeeee;
	padding: 10px;
  margin: 20px;
	text-decoration: none;
	transition: 0.5s ease;
}
.card .btn-servico:hover{
	background-color: #5a5a5a;
  color: white;
}

/* Formatando o rodapé */

.whats{
	width: 30px;
	height: 30px;
	position: fixed;
	border-radius: 50%;
	bottom: 110px;
	right: 20px;
	transition: 0.5s ease;
}
.whats:hover{
	transform: translateY(-10px);
	box-shadow: 0px 2px 4px rgba(50, 50, 50, 0.6);
}
.contato{
	width: 31%;
	float: left;
	margin: 0px 1%;
	text-align: left;
}
.contato .titulo-rodape{
	font-size: 20px;
	font-weight: bold;
}
.contato h5{
	font-size: 20px;
	margin-top: 10px;
}
.contato ul{
	margin-left: 50px;
}
.contato a:link,
.contato a:visited{
	color: #6BA0F1;
	text-decoration: none;
}
.contato a:hover,
.contato a:active{
	text-decoration: underline;
}



/* Formatando a assinatura do site */
.assinatura{
	text-align: center;
}
.assinatura .barra-assinatura{
	margin: 30px 0px;
	border: 0px;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}


.conteudo-2{
  margin-top: 50px;
  background-color: #333;
  padding: 40px;
}
.conteudo-3{
  background-color: transparent;
  padding: 40px;
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.card{
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  border: none;
  width: 30%;
  align-items: center;
  justify-content: center;
}
.card img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}


footer{
  margin-top: 5rem;
  padding: 2rem;
  background-color: rgb(17, 17, 17);
}
footer .rodape{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.toTop{
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6BA0F1;
  color: white;
}
footer .rodape .column {
  width: 30%;
}
footer .rodape .column-one {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer .rodape .column-one a img{
  width: 270px;
}
footer .rodape .column-one h5{
  font-size: 16px;
  font-weight: 500;
}
ul li{
  text-decoration: none;
  list-style-type: none;
  margin-left: -40px;
}

/* Pagina Astronomia */

#oqastro{
  position: relative;
  right: 20px;
}

.apastronomia{
  margin-top: 50px;
  border-radius: 50px;
  position: relative;
  right: 40px;
}

.justificado {
 text-align: justify;
 position: relative;
 left: 55px;
 top: 55px;
}

.container {
  margin-top: 20px;
}

.important {
  position: relative;
  top: 50px;
}

.imporastro{
  margin-top: 50px;
  border-radius: 50px;
  position: relative;
  left: 530px;
}

#importxt{
  position: relative;
  right: 680px;
}